/AddTaskViewPresenter$1.class
/AddTaskViewPresenter$2.class
/AddTaskViewPresenter.class
/AppViewPresenter$1.class
/AppViewPresenter$2.class
/AppViewPresenter.class
/DiaryEntryPresenter$1.class
/DiaryEntryPresenter.class
/MenuBarPresener.class
/Presenter.class
